@import "../../../../scss/common.styles.scss";

.paymentCard {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
  border: 2pt solid $main-7;
  box-sizing: border-box;
  .cancelIconContainer {
    .cancelIcon {
      position: absolute;
      width: 14.75px;
      height: 14.74px;
      right: 5px;
      top: 5px;
      opacity: 0.3;
    }
  }

  .paymentCardContentContainer {
    display: flex;
    .radioButton {
        margin: 0px 5px;
    }
    .creditCardIcon {
      width: 21px;
      height: 21px;
    }
    .paymentCardContent1 {
      display: flex;
      align-items: center;
      margin: 0 0 0 5px;
      color: $main-2;
      font-size: $font-size-small;
    }
    .paymentCardContent2 {
      @extend .paymentCardContent1;
      color: $main-3;
      font-weight: 600;
    }
  }
}
