@import "../../styles/colors";


.wrapperContainer{
  background-color: white;
  width: 26rem;
  margin: 0 auto;
}


.headerMenu{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.headerMenuLeft{
  background-color: #1B3543;
    width: 158px;
    height: 44px;
    border-radius: 0px 25px 25px 0px;
    padding: 8px 0px 0px 15px;
}
.headerMenuLeftIcon{
  padding-right: 20px;
}
.headerMenuLeftText{
  color: #ffffff;
  font-size: 18px;
}

.title15{
  text-align: center;
}

.title15Text{
  font-weight: bold;
}
.roundCardContainer{
  margin: 26px;
  padding: 18px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 8px 12px 8px #a7a7a71f;
}
.profileSection{
  background: url('../../assets//img/discover/23ni1sqr.png') center;
  background-size: cover;
  padding: 40px 20px 20px 20px;
  border-radius: 20px;
  text-align: center;
}
.profileSectionUserName{
  font-size: 14px;
  color: #ffffff;
  display: block;
  padding-top: 12px;
}
.playerSection{
  text-align: center;
  padding-bottom: 15px;
}
.activityContainer{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  cursor: pointer;
}
.activiyButtonContainer{
  padding: 10px;
  border: 1px solid #D19C78;
  border-radius: 50px;
}
.activiyButton{
  width: 19px;
  height: 18px;
  margin: 10px;
}
.activityInfo{
  display: grid;
  text-align: center;
  padding: 8px 0px;
}
.activityInfoNumber{
  font-size: 14px;
  font-weight: bold;
}
.activityInfoStatus{
  font-size: 9px;
  margin-top: 3px;
  background-color: #D19C78;
  border-radius: 8px;
  color: #ffffff;
}
.mainmenuContainer{
  padding: 10px;
  border-radius:50px;
}
.mainMenuSelected{
  background-color: #1B3543;
}
.mainMenuPadding{
  background-color: white;
  margin-top: -10px;
}

.master-root {
  position: relative;
  min-height: 580px;
  max-height: 404px;
  width: 100%;
  overflow: inherit;
  z-index: 1;
}

.card {
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transition: box-shadow .3s;
  // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}

.animate {
  transition: transform .3s;
  box-shadow: none;
}

.inactive {
  box-shadow: none;
}

.alert {
  width: 45%;
  min-height: 10%;
  position: absolute;
  z-index: 9999;
  opacity: 0;
  transition: opacity .5s;
  color: white;
  vertical-align: middle;
  line-height: 3rem;
}

.alert-visible {
  opacity: 1;
}

.alert-right {
  top: 0;
  right: 0;
  background: #49BA7D;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transition: 1s;
}

.alert-left {
  top: 0;
  left: 0;
  background: #d1d1d1;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: 1s;
}

.alert-top {
  background:#103545;
  border-radius: 50px;
  transform: translate(-50%, 0);
  margin-left: 50%;
  transition: 1s;
 }

 .alert-bottom {
  bottom: 0;
  background: blue;
  border-top-left-radius: 50px;
  border-radius: 50px;
  transform: translate(-50%, 0);
  margin-left: 50%;
 }
 .alert-right-text{
  color: white;
  padding: 13px 0px 5px 63px;
  font-weight: bold;
 }

 .groupButton{
  display: flex;
  width: 140px;
  justify-content: space-between;
  border-radius: 17px;
  margin: 12px 4px 0px 0px;
  border: 1px solid burlywood;
 }

 .groupButtonLeft{
  width: 100%;
  text-align: center;
  cursor: pointer;
 }
 .groupButtonRight{
  width: 100%;
  text-align: center;
  cursor: pointer;
 }
 .groupButtonText{
   font-size: 10px;
   color: #B77C4E;
   font-weight: bold;
 }

 .groupButtonSelected{
    background-color: #1B3543;
    border-radius: 0px 20px 20px 0px;
    margin-right: -1px;
 }

 .groupButtonSelected .groupButtonText{
    color: #ffffff !important;
 }
 .groupButtonRatio{
    width: 15px;
    height: 15px;
    border: 3px solid burlywood;
    border-radius: 10px;
    background-color: white;
    margin: -18px 0px 0px 63px;
    z-index: 1;
    position: absolute;
    cursor: default;
 }
 .react-waves{
   width: 336px;
   margin: 0px 0px 0px -22px
 }

 .playerControlSection{
  display: flex;
  width: 200px;
  text-align: center;
  justify-content: space-between;
  margin: 25px 65px 20px 65px;
 }
 .playing{
    padding: 14px 16px 14px 19px;
    background-color: #D19C78;
    border-radius: 27px;
    cursor: pointer;
 }
 .playerControl{
  padding-top: 7px;
  cursor: pointer;
 }

 