@import "../PopUps.styles.scss";

.cookieContainer {
    
    .mainIconContainer {
        margin-top: 75.6px;
        .mainIcon {
            width: 53px;
            height: 53px;
            margin: auto;
        }
    }

    .descriptionContainer {
        margin-bottom: 40px;
        color: $main-3;
        font-size: 16px;
        text-align: center;
        line-height: 1.5;
        .description {
            margin-top: 20px;
        }
    }
    
    .buttonWrapper {
        .launchButton {
            width: 100%;
            height: 5em;
            margin: 0;
            color: #0DB6FF;
            font-weight: 600;
            background: transparent;
            border-top: 1pt solid rgba(107, 121, 140, 0.2);
            box-shadow: none;
        }
    }

}