@import "../../scss/common.styles.scss";

.popUpContainer {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: $main-5;
    z-index: 2000;
    .iconContainer {
        margin-top: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        .headerIcon {
            width: 74px;
            height: 65px;
        }
        .cancelIcon {
            position: absolute;
            width: 24px;
            height: 24px;
            right: 25px;
            top: 25px;
            opacity: 1;
        }
    }
    .launchButton {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px auto 18px auto;
        box-shadow: 0 3pt 6pt #00000029;
        outline: none;
    }
    .launchButton:hover {
        cursor: pointer;
    }
}

