/* your css code */

.svg-banner {
  background-image: url("../../assets/img/listenerpreferences/Header-Background.svg");
  min-height: 146px;
  padding-top: 55px;
  display: flex;
  justify-content: space-between;
  padding-left: 20.4px;
  padding-right: 20.4px;

}
.banner-title {
  color: #FFFFFF !important;
  font-size: 20px;
}

.page-indicator {
  color: #FFFFFF;
  opacity: .3;
  font-style: heavy;
  font-family: Lato;

}

.wrapper {
  margin: 45px 23px 0px 23px;
}