@import "../../../scss/common.styles.scss";

.priceContainer {
    margin: 0 20px 20px 20px;
    padding: 20px;
    background: $main-1;
    text-align: left;
    box-shadow: 0 1pt 6pt #00000029;
    line-height: 1.5;
    .detailsHeader {
        margin-bottom: 10px;
    }
    .priceDescription {
        font-size: $font-size-small;
        margin-bottom: 10px;
    }
    .containerLabel {
        position: relative;
        line-height: 3;
    }
    .priceSign {
        position: absolute;
        bottom: -43px;
        color: $main-3;
        font-size: $font-size-normal;
        opacity: .3;
    }
    #price {
        width: initial;
        margin-bottom: 10px;
    }
    .sendMeDescriptionA {
        @extend .priceDescription;
        margin-bottom: 0;
        margin: 10px 0;
    }
    .sendMeDescriptionBContainer {
        line-height: 1;
        .sendMeDescriptionBIntro {
            @extend .priceDescription;
            margin-bottom: 0;
        }
        .sendMeDescriptionBMain {
            color: $main-2;
            font-size: $font-size-small;
            font-style: italic;
        }
    }
    .sendMeTitleContainer {
        margin-top: 20px;
        .sendMeTitleA {
            color: $main-3;
            font-weight: 700;
            font-size: $font-size-normal;
        }
        .sendMeTitleB {
            color: $main-3;
            font-size: $font-size-normal;
            opacity: .3;
        }
    }
    .bioLabel {
        margin: 10px 0;
    }
    .describeYourselfTitle {
        color: $main-3;
        font-size: $font-size-normal;
        opacity: .3;
    }

    .containerLabel {
        font-size: 11px;
        color: $main-2;
        opacity: .4;
    }
    .inputField {
        width: 100%;
        padding-bottom: 10px;
        font-weight: 500;
        font-size: $font-size-normal;
        box-shadow: 0px 1px #00000029;
        line-height: 3;
    }
    .inputFieldContainer {
        z-index: 10;
    }
    .inputFieldContainer:hover {
        cursor: pointer;
    }
    .addCircleIconContainer {
        position: relative;
        .addCircleIcon {
            position: absolute;
            height: 24px;
            width: 24px;
            right: 0;
            bottom: -35px;
            pointer-events: none;
        }
    }
    .detailsHeader {
        font-weight: 700;
        font-size: $font-size-normal;
    }
    input, textarea {
        border: none;
        border-radius: 0;
        background-color: transparent;
        resize: none;
        outline: none;
    }
}