@import "../../../../../scss/common.styles.scss";

.bigWrapper {
    position: relative;
    label {
        color: $main-2;
        font-size: $font-size-xs + 1;
        letter-spacing: 1.1px;
        opacity: .4;
    }
    .ratingIconWrapper {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 43px;
        margin-top: 18px;
        margin-left: 10px;
        background: url("../../../../../assets/img/orderhistory/rating_hexagon.png") 0% 0% / contain no-repeat;
        color: $main-1;
        font-size: $font-size-medium;
        font-weight: bold;
    }
    .reviewSubContainers {
        margin: 10px 22px;
        background: $main-1;
        box-shadow: 0 1pt 6pt #00000029;
        text-align: left;
        .subContainerHeader {
            display: flex;
            position: relative;
            align-items: center;
            height: 76px;
            color: $main-3;
            * {
                pointer-events: none;
            }
            .expandIcon {
                position: absolute;
                right: 20px;
                color: $color-6;
            }
            .trackIcon {
                position: absolute;
                width: 20px;
                height: 20px;
                right: 44px;
                margin-top: 2px;
            }
            .reviewHeaderContainer {
                margin-left: 60px;
                .trackTitle {
                    color: $main-9;
                    font-size: $font-size-normal;
                    font-weight: 700;
                }
                .trackDescription {
                    margin-top: 2px;
                    color: $color-2;
                    font-size: $font-size-xs;
                }
                .trackDate {
                    @extend .trackDescription;
                    margin-top: 8px;
                    letter-spacing: 1px;
                }
            }
        }
        .subContainerHeader:hover {
            cursor: pointer;
        }
        .commentContainer {
            padding: 20px;
            border-top: 1px solid $color-7;
            .commentsContainer {
                margin-top: 13px;
                color: $main-2;
                font-size: $font-size-normal;
                line-height: 1.3;
            }
        }
        .reviewerContainer {
            display: flex;
            align-items: center;
            width: 100%;
            height: 76px;
            color: $color-2;
            font-size: $font-size-xs;
            border-top: 1px solid $color-7;
            .reviewerProfilePic {
                width: 30px;
                height: 30px;
                margin: 0 10px 0 12px;
                border: 3px solid $color-7;
                border-radius: 50%;
            }
            .reviewerTag {
                color: $main-9;
            }
        }
        .ratingContainer {
            border-top: 1px solid $color-7;
            .ratingHeader {
                position: relative;
                display: flex;
                align-items: center;
                height: 76px;
                * {
                    pointer-events: none;
                }
                .expandIcon {
                    position: absolute;
                    right: 20px;
                    color: $color-6;
                }
                .ratingHeaderIcon {
                    width: 26px;
                    height: 26px;
                    margin-left: 14px;
                }
                .ratingHeaderLabel {
                    margin: 0 0 3px 14px;
                    color: $color-2;
                    font-size: $font-size-xs;
                }
                .ratingInputComponent {
                    @extend .ratingHeaderLabel;
                    margin-left: 60px;
                }
            }
            .ratingBody {
                padding: 0 20px 20px 20px;
                .ratingInputComponent {
                    width: fit-content;
                    margin: 7px auto 19px auto;
                }
                .feedbackTextAreaContainer {
                    display: flex;
                    flex-flow: column nowrap;
                    padding-top: 11px;
                    // border: 1px solid red;
                    .feedbackTextArea {
                        height: 93px;
                        margin-top: 19px;
                        padding: 0;
                        border: none;
                        border-bottom: 1px solid #6B798c4d;
                    }
                    ::placeholder {
                        color: $main-3;
                        font-size: $font-size-normal;
                        opacity: .3;
                    }
                }
            }
            .submitButtonWrapper {
                .submitButton {
                    width: 100%;
                    height: 50px;
                    margin-top: 9px;
                    background: linear-gradient(74deg, #49B97D, #49B97D);
                    color: $main-1;
                    letter-spacing: 1.4px;
                    border: none;
                    box-shadow: #00000029 0 3px 6px;
                    outline: none;
                }
            }
            .cancelButtonWrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 50px;
                margin-top: 9px;
                background: linear-gradient(77deg, $main-3, $main-8);
                box-shadow: 0 3px 6px #00000029;
                .cancelButton {
                    width: 99%;
                    height: 46px;
                    font-size: $font-size-small;
                    color: $main-2;
                    background: $main-1;
                    letter-spacing: 1.2px;
                    border: none;
                    outline: none;
                }
            }
        }
    }
}