tspan { white-space:pre }
.plusShp0 { fill: #930a22 } 
.plusShp1 { fill: none;stroke: #e2e2e2;stroke-linecap:round;stroke-width: 4 } 
.uploadShp0 { fill: #9b9b9b } 
.uploadShp1 { fill: none;stroke: #05161d;stroke-linecap:round;stroke-width: 8 } 
.uploadShp2 { fill: none;stroke: #930a22;stroke-width: 6 } 