@import "../../../scss/common.styles.scss";
@import "../../../scss/variables.scss";

.pointEarned-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .updatedCoin-text{
        color: #fdcc36;
    }
}

.coin-earned-icons {
    width: 60px;
    height: 60px;
    padding: 10px;
    padding-right: 5px;
}