@import "../../styles/colors";

.svg-banner {
  background-image: url("../../assets/img/listenerpreferences/Header-Background.svg");
  min-height: 146px;
  padding-top: 55px;
  display: flex;
  justify-content: space-between;
  padding-left: 20.4px;
  padding-right: 20.4px;

}
.svg-banner-long {
    background-image: url("../../assets/img/feedback/Header-Background.png");
    min-height: 175px;
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
    padding-left: 20.4px;
    padding-right: 20.4px;
    background-repeat: round;
  
  }
.banner-title {
  color: #FFFFFF !important;
  font-size: 20px;
}

.page-indicator {
  color: #FFFFFF;
  opacity: .3;
  font-family: Lato;
}

.wrapper {
  margin: 45px 23px 0px 23px;
}

.preference-input {
  button{
    display: inline-block;
    width: 100px;
    height: 60px;
    margin-right: auto;
  }
  input, button {
    border: 2px solid $bg-color !important;
    border-radius: 5px;
    opacity: .3 ;
    font-family: Lato !important;
  }
  input {
    width: 336px !important;
    height:60px !important;
    padding-left:19.5px;

  }
  input::placeholder {
    opacity: 0.99;
    color: $bg-color;
  }
  input + div{
    opacity: 0.3;
    position: absolute;
    top: 15px;
    right: 26.5px;
  }
  input:focus, input:focus + div, button:focus {
    opacity: 1;
  }
}

.fields-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: Lato;
  font-size: 16px;

  input, label {
    text-align: center;

    font-family: Lato !important;
    display: block;
    border: 2px solid $bg-color !important;
    border-radius: 5px;
    opacity: .3 ;
    width: 100px;
    height: 60px;
    color: inherit;
    & :checked, &:focus {
      opacity: 1;
    }
  }
  label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
  }
  .ant-radio-button-wrapper-checked {
    opacity: 1;
    color: $bg-color !important;
  }
}

.tag-select:first-child {
  div {
    min-height: 60px;
  }
}

.ant-select-dropdown {

}

.field {
  &.flex-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  border: 2px solid $bg-color !important;
  border-radius: 5px;
  background: transparent;
  color: $bg-color;
  width: 100%;
  height: 60px;
  padding-left: 19.5px;
  padding-right: 19.5px;
  opacity: 0.3;
  &:checked, &:focus, &:active {
    opacity: 1;
  }
}

.bannerWrapper{
    display: block;
    justify-content: center;
    text-align: center;
}
.bannerTitle{
    color: #FFFFFF !important;
    font-size: 18px;
}
.textSectionContainer{
    display: block;
    width: 335px;
    justify-content: center;
    text-align: center;
}
.textSectionTitle{
    display: block;
    color: #344356;
    font-size: 20px;
    font-weight: 600;
}
.textSectionSubTitle{
    display: block;
    font-size: 13px;
    color:#868B8D;
    font-weight: 600;
    padding-top: 10px;
}

.cardSection{
    margin: 37px 0px 50px 0px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 11px 27px 5px #a7a7a7;
}
.cardSectionHeader{
    background: rgb(27, 53, 67);
    border-radius: 20px 20px 0px 0px;
    height: 50px;
}
.cardSectionHeaderTitle{
    justify-content: center;
    text-align: center;
    display: block;
    font-size: 20px;
    color: #ffffffdb;
    font-weight: 500;
    padding: 10px;
}
.cardSectionBoady{
    padding: 20px 15px;
}
.addMusicText{
    font-size: 15px;
    font-weight: 600;
}
.startCampaignInput{
    height: 60px;
    margin: 10px 0px;
    border: 2px solid #70707054;
}

.startCampaignInputIcon{
    font-size: 24px;
    position: absolute;
    margin: 28px 0px 29px -36px;
}
.priceingBox{
    height: 60px;
    border: 2px solid #70707054;
    border-radius: 4px;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
}
.priceingBoxText{
    font-size: 18px;
    font-weight: 700;
    color: #5F6669;
}
.marginTop15{
    margin-top: 15px;
}
.priceSelected{
    background-color: #D19C78;
    border: 2px solid #D19C78;
}
.priceSelectedTextColor{
    color: #FFFFFF;
}
.addCardSection{
    height: 60px;
    border: 2px solid #1B3543;
    border-radius: 4px;
    padding: 14px;
    margin-top: 15px;
    cursor: pointer;
}

.addCardSectionText{
    padding: 2px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #cacaca;
}
.modal{
    min-height: 200px;
}
.modalHeader{
    background-color: rgb(27, 53, 67);;
    margin: -6px;
    border-radius: 20px 20px 0px 0px;
    height: 50px;
}
.modalBody{
    margin: 30px 10px;
}
.cardBoxInput{
    height: 50px;
    margin: 7px 0px;
    border: 2px solid #70707054;
}
.twoCardContainer{
    display: flex;
}
.marginLeft5{
    margin-left: 5px;
}
.marginRight5{
    margin-right: 5px;
}
.addCardButton{
    margin: 20px 0px;
    background-color: #1B3543;
    height: 50px;
    border-radius: 4px;
    justify-content: center;
    text-align: center;
    padding-top: 13px;
}
.addCardButtonText{
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
}
.billingSection{
    background: white;
    padding: 12px 38px;
    box-shadow: 0px 2px 19px 5px #a7a7a7;
    border-radius: 20px;
    margin-bottom: 37px;
    display: flex;
    justify-content: space-between;
}
.billingSectionText{
    font-size: 16px;
    font-weight: 600;
}
.payNowButton{
    margin: 20px 0px;
    background-color: #1B3543;
    height: 50px;
    border-radius: 4px;
    padding-top: 15px;
    padding-left: 15px;
}
.payNowButtonText{
    font-size: 13px;
    color: #ffffff;
    font-weight: 600;
}