@import "../../scss/common.styles.scss";
@import "../../scss/variables.scss";

.upload-main-container {
    min-height: 100vh;
    width: 100%;
    max-width: 800px;
    background: $color-24;
    text-align: center;
    color: $main-1;
    padding: 25px;
    padding-bottom: 110px;
}

.upload-header-container {
    width: 100%;
    color: $color-25;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin-top: 30px;
    .app-name-container {
        text-align: left;
        .app-display-name {
            font-size: $font-size-xxl;
            text-align: left;
            font-family: "AvenirBold";
        }
    }
    .header-icon-container {
        color: $main-1;
        display: flex;
        .header-icon-text-container{
            margin-right: 15px;
            .coin-number {
                margin: 0px;
                margin-bottom: -9px;
                margin-top: 8px;
                font-size: $font-size-small;
            }
            .coin-text {
                height: fit-content;
                font-size: $font-size-xxs;
                width: fit-content;
                font-weight: 100;
        }
        }
    }
}
.buttons-main-component {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    .unSelected-button {
        height: 40px;
        width: 45%;
        margin: 10px;
        border-radius: 5px;
        background: transparent;
        border: 2px solid $color-21;
        opacity: 1;
        color: $main-1;
        margin-left: 0px;
    }
    .selected-button {
        background: $color-21 0% 0% no-repeat padding-box;
        border: none;
    }
}
.submit-music-heading-container {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    .submit-music-queue-txt {
        font-family: "AvenirNextLTPro";
        font-size: $font-size-normal;
    }
}
.imput-container {
    border: 1px solid $color-20;
    position: relative;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    .title-text {
        position: absolute;
        background: $color-24;
        color: $color-20;
        top: -7px;
        padding: 0 4px;
        font-size: $font-size-xs;
        font-family: "AvenirNextLTPro";
    }
    .tiitle-input-field {
        width: 100%;
        background: transparent;
        border: none;
        color: $main-1;
    }
}
.upload-file-text-container {
    margin-top: 35px;
    display: flex;
    .upload-file-text {
        font-family: "AvenirNextLTPro";
        font-size: $font-size-normal;
    }
}
.browse-file-container {
    border: 2px dashed $color-21;
    border-radius: 5px;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    .file-name-text {
        font-size: $font-size-normal;
        font-family: "AvenirNextLTPro";
    }
    .browse-file-text-container {
        padding: 10px;
    }
    .browse-text{
        font-family: "AvenirNextLTPro";
        color: $color-20;
        padding-right: 5px;
        font-size: $font-size-normal;
    }
    .file-text {
        font-family: "AvenirNextLTPro";
        font-size: $font-size-normal;
    }
}
.size-text {
    font-family: "AvenirNextLTPro";
    color: $color-20;
    font-size: $font-size-xs;
    text-align: right;
}
.or-text {
    font-size: 12px;
    font-family: "AvenirNextLTPro";
    padding: 10px;
}


.genres-container {
    border: 1px solid $color-21;
    border-radius: 6px;
    min-height: 120px;
    position: relative;
    justify-content: center;
    margin: 30px 0px;
    .genres-label {
        color: $color-21;
        font-size: 12px;
        font-weight: bold;
        position: absolute;
        top: -8px;
        left: 30px;
        background: $color-24;
        padding: 0 5px;
        font-family: "AvenirNextLTPro";
    }
    .search-genres-container {
        height: 50px;
        display: flex;
        margin: 0px 10px;
        border-bottom: 1px solid $color-21;
        .formInputField {
            width: 90%;
            background: transparent;
            border: none;
            color: $color-17;
            font-family: "AvenirNextLTPro";
            font-size: $font-size-medium;
        }
    }
}
.genres-button-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 200px;
    overflow: auto;
    justify-content: inherit;
    .genres-button {
        margin: 5px;
        border-radius: 10px;
        background: $color-17;
        border: 1px solid $color-21;
        width: fit-content;
        padding: 3px 10px;
        font-size: $font-size-small;
        font-family: "AvenirNextLTPro";
        display: flex;
        color: black;
    }
    .genres-added-button {
        margin: 5px;
        border-radius: 10px;
        color: $color-17;
        background: $color-21;
        width: fit-content;
        padding: 3px 10px;
        font-size: $font-size-small;
        font-family: "AvenirNextLTPro";
        display: flex;
    }
}

.generes-container-border {
    padding: 5px;
    border-bottom: 1px solid $color-21;
}

.icon-plus-circle {
    width: 15px;
    height: 15px;
    padding-left: 5px;
}
.fileInput {
    display: none;
}

.rating-main-container {
    text-align: left;
    margin-top: 20px;
    .rating-header-text {
        font-size: $font-size-normal;
        font-family: "AvenirNextLTPro";
    }
    .rating-container {
        margin-top: 20px;
        display: flex;
        .rating-container-1{
            text-align: left;
            width: 40%;
            height: 85px;
            display: grid;
            padding: 10px;
            border: 1px solid $color-21;
            border-radius: 5px;
        }
        .plan-text {
            font-size: 12px;
            font-family: "AvenirNextLTPro";
        }
        .listner-text {
            font-size: 10px;
            font-family: "AvenirNextLTPro";
        }
        .rating-amount-text {
            font-size: 22px;
            font-family: "AvenirBold";
        }
        .rating-container-2 {
            border: 1px solid $color-21;
            border-radius: 5px;
            text-align: left;
            width: 40%;
            height: 85px;
            display: grid;
            padding: 10px;
            margin-left: 25px;
        }
        .isSelectedRating {
            background: transparent linear-gradient(180deg, #C7003B 0%, #FF5335 100%) 0% 0% no-repeat padding-box;
            border: none !important;
        }
    }
}

.payment-option-container {
    margin-top: 35px;
    margin-bottom: 20px;
    .payment-option-header-text {
        font-size: 14px;
        display: flex;
        font-family: "AvenirNextLTPro";
    }
}
.or-txt {
    font-size: 14px;
}
.order-now-button {
    width: 100%;
    height: 40px;
    margin: 60px 0px;
    border-radius: 5px;
    background: $color-21 0% 0% no-repeat padding-box;
    border: none;
    opacity: 1;
    color: $main-1;
}