@import "../../scss/variables.scss";
@import "../../scss/common.styles.scss";

@font-face {
    font-family: 'AvenirNextLTPro';
    src: url('../../fonts/AvenirNextLTPro-Regular.otf');
}

.email-new-pass-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/img/back.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.new-pass-inner-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    padding-top: 40px;
}
.new-pass-heading{
    margin: 0px;
    color: $color-17;
    font-family: "AvenirNextLTPro";
    font-size: $font-size-xl;
    text-align: center;
}
.new-pass-underline{
    width: 99%;
    border-color: #888888;
    margin: 0px;
}
.new-pass-emailBox{
    margin-top: auto;
    width: 100%;
    height: 70%;
    background-color: $color-13;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 0 20px;
    box-sizing: border-box;
}
.new-pass-emailBoxHeading{
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 45px;
    color: $color-17;
    font-family: "AvenirNextLTPro";
    font-size: 28px;
}
.new-pass-email-name-field{
    margin-left: 50px;
}
.new-pass-form-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    .form-input {
        margin-bottom: 20px;;
        .MuiOutlinedInput-root {
            border-radius: 10px;
        }
        .MuiInputLabel-formControl {
            color: $color-18;
        }
        .MuiInputBase-root {
            color: $color-17
        }
        .MuiOutlinedInput-root:hover, .MuiOutlinedInput-notchedOutline {
            border-color: $color-18;
        }
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border-color: $color-16 !important;
        }
        .MuiFormLabel-root.Mui-focused {
            color: $color-16 !important;
        }
        .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
            border-color: $color-16;
        }
    }
}
.new-pass-header-icon{
    color: $color-17;
}
.new-passButton{
    margin-top: 30px;
    background-color: $color-12;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    color: $color-17;
    font-size: $font-size-l;
    font-family: "AvenirNextLTPro";
    width: 100%;
    height: 50px;
}
.toggleIconNewPass{
    color: $color-18;
}
