@import "../../scss/common.styles.scss";

.discoverComponentContainer {
    position: relative;
    width: 100%;
    height: 812px;
    background: #46515F;
    text-align: center;
    overflow: hidden;
    .backgroundIcon {
        position: absolute;
        width: 467px;
        height: 259px;
        left: -60px;
        margin-top: 245.4px;
        opacity: .57;
        z-index: 0;
    }

    .discoverComponentHeader {
        .headerIcon {
            width: 60px;
            height: 33px;
            margin: 33px auto 18px auto;
        }
        .title1 {
            color: $main-1;
            font-size: $font-size-l;
            font-weight: 700;
        }
        .title2 {
            @extend .title1;
            font-weight: 300;
        }
    }
    
    .songCardOuterContainer {
            display: flex;
            flex-flow: column nowrap;
            position: absolute;
            left: 4%;
            width: 90%;
            margin: 60px auto 0 auto;
            .songCardContainer {
                height: 459px;
                color: $main-1;
                background: rgba(84, 98, 117, .25);
                box-shadow: 0 1pt 6pt #00000029;
                .bookmarkIcon {
                    position: absolute;
                    width: 14.37px;
                    height: 20.04px;
                    left: 22px;
                    top: 23px;
                }
                .profilePicIconContainer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 95px;
                    height: 95px;
                    left: calc(50% - 47.5px);
                    top: -47.5px;
                    border-radius: 50%;
                    background: linear-gradient(180deg, $main-7, #363D46);
                    .profilePicIcon {
                        width: 75px;
                        height: 75px;
                        border-radius: 50%;
                    }
                }
                .artistTagContainer {
                    margin-top: 65px;
                    font-size: $font-size-small;
                    font-weight: 500;
                }
                .songContainer {
                    display: flex;
                    flex-flow: column nowrap;
                    margin-top: 15px;
                    text-align: left;
                    .discoverIFrame {
                        width: 293px;
                        height: 191px;
                        align-self: center;
                    }
                    .songTitle {
                        margin: 10px 0 0 23px;
                        font-size: $font-size-normal;
                    }
                    .songLength {
                        @extend .songTitle;
                        font-size: $font-size-small;
                        opacity: .4;
                    }
                }
            }
        .songCardContainer:hover {
            cursor: pointer;
            user-select: none;
        }
    }
}

.discoverAudioPlayer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.master-root {
    position: relative;
    max-height: 60%;  
    width: 100%;
    overflow: inherit;
    z-index: 1;
  }