@import "../../scss/common.styles.scss";
@import "../../scss/variables.scss";

.home-main-container {
    min-height: 100vh;
    width: 100%;
    max-width: 800px;
    background: #05161d;
    text-align: center;
    color: #ffffff;
    padding: 25px;
    padding-bottom: 110px;
}

.home-header-container {
    width: 100%;
    color: #A80F2B;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin-top: 30px;
    .app-name-container {
        text-align: left;
        .app-display-name {
            font-size: $font-size-xxl;
            text-align: left;
            font-weight: bold;
        }
        .trending-text {
            margin: 0px;
            font-weight: 100;
            color: white;
            padding-left: 0px;
        }
    }
    .header-icon-container {
        color: #ffffff;
        display: flex;
        .header-icon-text-container{
            margin-right: 15px;
            .coin-number {
                margin: 0px;
                margin-bottom: -9px;
                margin-top: 8px;
                font-size: 12px;
            }
            .coin-text {
                height: fit-content;
                font-size: 8px;
                width: fit-content;
                font-weight: 100;
        }
        }
    }
}
.search-container {
    height: 50px;
    margin-top: 40px;
    border: 1px solid #930a22;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    .search-field {
        background: transparent;
        border: none;
        width: 100%;
        padding-left: 10px;
        // color: white;
    }
}
.activity-header {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .activity-updates {
        font-size: $font-size-medium;
    }
}

.activity-card-container {
    width: 100%;
    min-height: 200px;
    padding: 10px 0px;
    .activity-card{
        width: 100%;
        height: 65px;
        background: #0e222b;
        margin-top: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center
    }
    .avatar-container {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: transparent url('../../assets/img/settings/Ellipse 24.png') 0% 0% no-repeat padding-box;
        margin: 5px;
        margin-right: 10px;
        background-size: cover;
    }
    .card-text{
        width: 70%;
        margin: 0px;
        font-size: 12px;
        font-weight: 100;
        text-align: left;
    }
    .time-text {
        font-size: 8px;
        font-weight: 100;
        margin-bottom: auto;
        margin-top: 5px;
    }
    .activity-play-icon {
        height: 35px;
        width: 35px;
        padding: 10px;
    }
}