@import "../../../../../scss/common.styles.scss";

.bodyContainer {
  ul {
    display: flex;
    margin: 0;
    padding: 16px;
    background: transparent;
    list-style: none;
    overflow: scroll;
    li {
      margin: 10px;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      .profilePic {
        width: 143px;
        height: 143px;
        border-radius: 50%;
        border: 2px solid $color-2;
      }
      .userTag {
        color: $color-9;
        font-size: $font-size-small;
        font-weight: 700;
        width: 90px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .rating {
        @extend .userTag;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: font-size - 1;
        opacity: 0.5;
        .ratingStars {
          display: flex;
          .ratingStarIcon {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
  .listeningNowBody {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    overflow: none;
    li {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 10px;
      border-bottom: 1px solid $color-10;
      .profilePic {
        width: 75px;
        height: 75px;
      }
      .userTag {
        // find missing style here
        width: 90px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .rating {
        margin-bottom: 23px;
      }
    }
  }
}

.defaultProfilePicIcon {
  width: 70px;
  height: 70px;
}
