@import "../../../scss/variables.scss";

.home-icon {
    margin-top: 30px;
    .home-icon-svg {
        height: 45px;
        width: 40px;
        fill: $color-26;
    }
}
.home-header {
    font-size: $font-size-xl;
    font-weight: 600;
}
.home-overlay-pargraph {
    padding: 15px;
    font-size: 14px;
    font-weight: 100;
}