@import "../../scss/common.styles.scss";

.footer-Container {
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    height: 70px;
    bottom: 0;
    background: #0e222b;
    box-shadow: 0 -3px 6px #00000029;
    z-index: 100;
    .footer-Links {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 70px;
        .footer-Icon {
            width: 30px;
            height: 30px;
            fill: white !important;
        }
    }
    .footer-Links.active {
        .footer-Icon {
            width: 30px;
            height: 30px;
            fill: #c40019 !important;
        }
    }
    .footer-Links-1 {
        border-radius: 50%;
        position: absolute;
        height: 60px;
        width: 60px;
        top: -25px;
        filter: drop-shadow(0px 3px 11.5px rgba(0,0,0,0.17));
        background-color: #18313c;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-Icon-1 {
            width: 40px;
            height: 40px;
        }
    }
    .footer-Links-1.active {
        background-color: #930A22 !important;
        .footer-Icon-1 {
            width: 40px;
            height: 40px;
            background: url('../../assets/icon/app-icon-white.png') 0% 0% / contain no-repeat !important
        }
    }
}
.footer-container-1 {
    display: flex;
}
.footer-container-2 {
    display: flex;
    margin-left: auto;
}