@import "../../../scss/variables.scss";
.promo-campaign-card-border {
    border: 1px solid #E5BB3B;
    border-radius: 5px;
    margin-top: 20px;
    background: $color-19;
}
.promo-campaign-card {
    border-radius: 5px;
    margin-top: 20px;
    background: $color-19;
}
.promo-camaign-inner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.like-container {
    display: flex;
    align-items: center;
    .like-icon {
        height: 30px;
        width: 50px;
        fill: $color-20;
    }
    .like-percentage-txt {
        font-family: "AvenirBold";
    }
}
.promo-campaign-inner-container {
    display: flex;
    align-items: center;
    .card-container-2 {
        .subscription-date-text {
            font-size: $font-size-xxs;
        }
        .card-container-3 {
            padding: 8px 0px;
            display: flex;
            justify-content: space-between;
            .icon-2 {
                height: 15px;
                width: 20px;
                fill: $main-1;
            }
        }
    }
    .accordian-toggle-icon {
        margin: 15px;
    }
}
.card-inner-container {
    .title-track-container {
        background: $color-21;
        padding: 6px 10px;
        display: flex;
        justify-content: space-between;
        color: $main-1;
        font-size: $font-size-small;
    }
    .card-icons-container {
        padding: 10px;
        .icon-first-row {
            display: flex;
            justify-content: space-around;
            padding: 10px 0px;
        }
        .icon-second-row {
            display: flex;
            justify-content: space-around;
            padding: 10px 20px;
        }
        .icon-container-2 {
            .icon-text {
                font-size: $font-size-xxs;
            }
        }
        .icon-3 {
            height: 20px;
            fill: $color-22;
        }
    }
}
.key-component {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: $color-23;
    .key-icon {
        width: 25px;
    }
    .key-number {
        padding: 0px 10px;
    }
}
.feedback-container {
    text-align: left;
    font-size: $font-size-normal;
    margin: 20px 0px;
}
.activity-card{
    width: 100%;
    height: 65px;
    background: $color-24;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center
}
.avatar-container {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    // background: transparent url('../../../assets/img/settings/Ellipse 24.png') 0% 0% no-repeat padding-box;
    margin: 5px;
    margin-right: 10px;
    background-size: cover;
}
.card-text{
    width: 70%;
    margin: 0px;
    font-size: $font-size-small;
    text-align: left;
}
.time-text {
    font-size: $font-size-xxs;
    margin-bottom: auto;
    margin-top: 5px;
}