@import "../../scss/variables.scss";
@import "../../scss/common.styles.scss";

.emailResetContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/img/back.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.resetInnerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    padding-top: 40px;
}
.resetheading{
    width: 80%;
    color: $color-17;
    font-family: "AvenirNextLTPro";
    font-size: $font-size-xl;
    text-align: center;
    margin: 0px;
}
.resetUnderline{
    width: 100%;
    border-color: #888888;
    margin: 0px;
}
.resetEmailBox{
    margin-top: auto;
    width: 100%;
    height: 75%;
    background-color: $color-13;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 0 15px;
    box-sizing: border-box;
}
.resetEmailBoxHeading{
    color: $color-17;
    font-family: "AvenirNextLTPro";
    font-size: 28px;
    text-align: center;
}
.resetDescription{
    color: $color-18;
    font-family: "AvenirNextLTPro";
    text-align: center;
    margin: 20px;
    font-size: $font-size-normal;
}
.resetemailnamefield{
    margin-left: 50px;
}
.resetform-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    .form-input {
        margin-bottom: 20px;;
        .MuiOutlinedInput-root {
            border-radius: 10px;
        }
        .MuiInputLabel-formControl {
            color: $color-18;
        }
        .MuiInputBase-root {
            color: $color-17
        }
        .MuiOutlinedInput-root:hover, .MuiOutlinedInput-notchedOutline {
            border-color: $color-18;
        }
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border-color: $color-16 !important;
        }
        .MuiFormLabel-root.Mui-focused {
            color: $color-16 !important;
        }
        .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
            border-color: $color-16;
        }
    }
}
.resetHeaderIcon{
    color: $color-17;
}
.resetButton{
    margin-top: 30px;
    background-color: $color-12;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    color: $color-17;
    font-size: $font-size-l;
    font-family: "AvenirNextLTPro";
    width: 100%;
    height: 50px;
}
.resetFooterText{
    color: $color-18;
    text-align: center;
    font-family: "AvenirNextLTPro";
    font-size: $font-size-normal;
    margin: 10px;
    a{
        color: $color-12;
    }
}
