
* {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.mainContainer { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 600px;
    height: 100%;
    padding-bottom: 90px;

    @media screen and (min-width: 600px) {
        margin: 0 33%;
    }
}