@import "./variables.scss";

.componentContainer {
    display: flex;
    flex-direction: column;
}

.launchButton {
    background-image: linear-gradient(73deg,#10B6F9, #44B987);
    color: $main-1;
    font-size: $font-size-normal;
    letter-spacing: 1.4px;
    border: none;
    width: 22em;
    height: 3em;
    :disabled {
      background-image: none !important;
      background-color: $main-2 !important;
    }
}

.inputContainer {
    margin-top: 22px;
    .inputField {
      border: 1px $main-6 solid;
      height: 45px;
      max-width: 276px;
      width: 85%;
      box-shadow: #00000029 0px 1px 3px;
      margin-bottom: 10px;
    }
}

.hearBKFooter {
  background-color: $main-5;
  display: flex;
  height: 147px;
  align-items: center;
  justify-content: center;
}

> input::placeholder {
  font-size: $font-size-small -1;
  color: $main-2;
  font-weight: 500;
  opacity: 30%;
}

.formContainer {
  @extend .componentContainer;
  background-color: $main-1;
  margin: 10px 22px 18px 22px;
  box-shadow: #00000029 0px 1px 6px;
  padding: 20px 20px;
  text-align: left;
  .formHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
    .formHeaderText {
      font-size: $font-size-normal;
      font-weight: 700;
    }
  }
  .formInputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    .formInputLabel {
      font-size: $font-size-small - 1;
      letter-spacing: 1.1px;
      font-weight: 500;
      color: $main-2;
      opacity: .4;
    }
    .formInputField {
      font-size: $font-size-normal;
      border: none;
      border-bottom: 1px solid rgba(107, 121, 140, .2);
      padding-bottom: 16px;
      margin-top: 17px;
      margin-bottom: 22px;
    }
    ::-webkit-input-placeholder { /* Edge */
      opacity: .3;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        opacity: .3;
    }
    ::placeholder {
        opacity: .3;
    }
  }
  input, textarea {
    border: none;
    border-radius: 0;
    background-color: transparent;
    resize: none;
    outline: none;
  }
}