// colors:

$main-1: #fff;
$main-2: #6b798c;
$main-3: #100f0f;
$main-4: #707070;
$main-5: #ecf0ff;
$main-6: #dde3ff;
$main-7: #e4e7f4;
$color-1: #624ffd;

//font size:

$font-size-xxl: 24px;
$font-size-xl: 20px;
$font-size-normal: 14px;
$font-size-small: 12px;
