// colors:

$main-1: #fff;
$main-2: #6b798c;
$main-3: #100f0f;
$main-4: #707070;
$main-5: #ecf0ff;
$main-6: #dde3ff;
$main-7: #e4e7f4;
$main-8: #b4c4d9;
$main-9: #46515f;
$color-1: #624ffd;
$color-2: #9caec7;
$color-3: #c8eb4f;
$color-4: #8b9cb2;
$color-5: #0db6ff;
$color-6: #49b97d;
$color-7: #e4e7f4;
$color-8: #dfe2ef;
$color-9: #103545;
$color-10: #dfe3f1;
$color-11: #505d6e;
$color-12: #05161d;
$color-13: #FFD949;
$color-14: #363636;
$color-15: #A10E29;
$color-16: #18313C;
$color-17: #CB1F3E;
$color-18: #0E222B;
$color-19: #00000029;

//font size:

$font-size-xxl: 24px;
$font-size-xl: 20px;
$font-size-l: 18px;
$font-size-medium: 16px;
$font-size-normal: 14px;
$font-size-15: 15px;
$font-size-small: 12px;
$font-size-xs: 10px;

//font weight:

$font-weight-1: 600;

//font family:

$font-family-1: "Avenir Next", sans-serif;
