// colors:

$main-1: #fff;
$main-2: #6b798c;
$main-3: #100f0f;
$main-4: #707070;
$main-5: #ecf0ff;
$main-6: #dde3ff;
$main-7: #e4e7f4;
$main-8: #b4c4d9;
$main-9: #46515f;
$color-1: #624ffd;
$color-2: #9caec7;
$color-3: #c8eb4f;
$color-4: #8b9cb2;
$color-5: #0db6ff;
$color-6: #49b97d;
$color-7: #e4e7f4;
$color-8: #dfe2ef;
$color-9: #103545;
$color-10: #dfe3f1;
$color-11: #505d6e;
$color-12: #8b1826;
$color-13: #06161d;
$color-14: #9b9b9b;
$color-15: #21495d;
$color-16: #941822;
$color-17: #e2e2e2;
$color-18: #4a4a4a;
$color-19: #0E222B;
$color-20: #cb1f3e;
$color-21: #930a22;
$color-22: #7b7b7b;
$color-23: #fdd353;
$color-24: #05161D;
$color-25: #A80F2B;
$color-26: #c40019;
$color-27: #d8d8d8;

$color-32: #05161d;
$color-33: #FFD949;
$color-34: #363636;
$color-35: #A10E29;
$color-36: #18313C;
$color-37: #CB1F3E;
$color-38: #0E222B;
$color-39: #00000029;
$color-40: #E2E2E2;
$color-41: #930A22;
$color-42: #DE9915;
$color-43: #4A4A4A;

$color-32: #05161d;
$color-33: #FFD949;
$color-34: #363636;
$color-35: #A10E29;
$color-36: #18313C;
$color-37: #CB1F3E;
$color-38: #0E222B;
$color-49: #00000029;

//font size:

$font-size-40: 40px;
$font-size-32: 32px;
$font-size-26: 26px;
$font-size-xxl: 24px;
$font-size-xl: 20px;
$font-size-l: 18px;
$font-size-17: 17px;
$font-size-medium: 16px;
$font-size-normal: 14px;
$font-size-15: 15px;
$font-size-small: 12px;
$font-size-xs: 10px;

//font weight:

$font-weight-1: 600;
$font-weight-2: 800;

//font family:

$font-family-1: "Avenir Next", sans-serif;
$font-family-2: "AvenirNextLTPro";
$font-family-3: "AvenirBold";
$font-size-xxs: 8px;
$font-size-xxxl: 48px;
$font-size-38: 38px;
