@import "../../scss/variables.scss";
@import "../../scss/common.styles.scss";

.logInContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/img/back.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.logInBox{
    width: 100%;
    height: 52%;
    margin-top: auto;
    justify-self: flex-end;
    background-color: #06161d;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    padding: 0 30px;
    box-sizing: border-box;
}
.logInHeading{
    font-family: "AvenirNextLTPro";
    font-size: $font-size-xl;
    color: $color-17;
    text-align: center;
    margin: 25px 0;
}
.buttonBox{
    margin-top: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.facebookButton, .emailButton, .phoneButton{
    width: 100%;
    max-width: 100%;
    height: 50px !important;
    font-size: $font-size-l;
    font-family: "AvenirNextLTPro";
    border: none;
    border-radius: 8px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $color-14;
    color: black;
    svg{
        margin-right: 10px;
        font-size: 1.1em;
    }
    &.facebookButton{
        background-color: $color-12;
        color: $color-17;
    }
    &.emailButton {
        background-color: $color-14;
    }
    &.phoneButton{
        background-color: $color-14;
    }

}


.loginheadericon{
    color: $color-17;
    margin-left: 25px;
    margin-top: 40px;
}
