@import "../../../scss/common.styles.scss";
@import "../../../scss/variables.scss";

.image-footer-icon-container-2 {
    display: flex;
    justify-content: center;
    width: fit-content;
    right: 0px;
    position: absolute;
    top: 15px
}
.image-footer-icons-2 {
    width: 30px;
    height: 30px;
    padding: 10px;
    padding-right: 5px;
}
.multiplier-container {
    width: fit-content;
    text-align: left;
    padding-top: 6px;
    padding-right: 10px;
    .coin-number {
        margin: 0px;
        margin-bottom: -9px;
        margin-top: 8px;
        font-size: 12px;
    }
    .coin-text {
        height: fit-content;
        font-size: 6px;
        width: fit-content;
        font-weight: 100;
    }
}
.star-gold {
    padding: 5px;
}
.rating-star-icon {
    padding: 10px;
}

.submit-button {
    margin-top: 30px;
    width: 100px;
    height: 35px;
    background: #930a22;
    border: none;
    border-radius: 5px;
    color: white;
}