@import "../../scss/common.styles.scss";
@import "../../scss/variables.scss";

.upgraePro-main-container {
    min-height: 100vh;
    width: 100%;
    max-width: 600px;
    background: $color-24;
    text-align: center;
    color: $main-1;
    padding: 25px;
    padding-bottom: 35px;
}

.home-header-container {
    width: 100%;
    color: $color-25;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin-top: 30px;
    .app-name-container {
        text-align: left;
        .app-display-name {
            font-size: $font-size-xxl;
            text-align: left;
            font-weight: bold;
        }
        .back-arrow {
            width: 18px;
            height: 15px;
            padding: 10px;
            padding-left: 0px;
        }
    }
    .header-icon-container {
        color: $main-1;
        display: flex;
        .header-icon-text-container{
            margin-right: 15px;
            .coin-number {
                margin: 0px;
                margin-bottom: -9px;
                margin-top: 8px;
                font-size: 12px;
            }
            .coin-text {
                height: fit-content;
                font-size: 8px;
                width: fit-content;
                font-weight: 100;
        }
        }
    }
}
.upgrade-premium-text-container {
    margin-top: 20px;
    .upgrade-premium-text-inner-container{
        display: flex;
    }
    .upgrade-premium-text-header {
        display: flex;
        font-size: 20px;
        font-weight: bold;
        font-family: $font-family-2;
        margin-right: 5px;
    }
    .upgrade-premium-text-header-red {
        display: flex;
        font-size: 20px;
        font-weight: bold;
        color: $color-20;
        margin-right: 5px;
        font-family: $font-family-2;
    }
    .upgrade-premium-text {
        font-weight: 100;
        line-height: 20px;
        font-size: $font-size-small;
        text-align: left;
        letter-spacing: 0px;
        color: $main-1;
        opacity: 0.7;
    }
}
.payment-option-container {
    margin-top: 35px;
    margin-bottom: 20px;
    .payment-option-header {
        display: flex;
        font-size: 16px;
        font-weight: bold;
        font-family: $font-family-2;
    }
}
.or-txt {
    font-size: 14px;
}
.card-information-container {
    margin-top: 35px;
    border: 1px solid $color-20;
    border-radius: 5px;
    height: 200px;
    position: relative;
    .card-information-header-txt {
        position: absolute;
        top: -10px;
        background: $color-24;
        padding: 0px 5px;
        left: 25px;
        font-size: 14px;
        color: $color-20;
        font-weight: bold;
    }
    .inputField {
        width: -webkit-fill-available;
        margin: 10px;
        padding: 10px;
        background: $color-24;
        border: none;
        border-bottom: 1px solid $color-21;
        margin-bottom: 0px;
        color: $main-1;
    }
    .month-year-cvc-container {
        display: flex;
        .card-cvc {
            width: 20%;
            padding: 10px;
            background: $color-24;
            border: none;
            border-bottom: 1px solid $color-21;
            margin: 10px;
            color: $main-1;
        }
        .card-month-year {
            width: 55%;
            padding: 10px;
            background: $color-24;
            border: none;
            border-bottom: 1px solid $color-21;
            margin: 10px;
        }
    }
}
.upgrade-button {
    background: transparent linear-gradient(180deg, #C7003B 0%, #FF5335 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    height: 50px;
    width: 100%;
    border: none;
    margin-top: 50px;
    color: $main-1;
    font-weight: bold;
}
.unchecked {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid $main-4;
}
.checked {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: $main-1;
    border: 3px solid $color-21;
}
.MuiFormControlLabel-label {
    font-size: 14px !important;
    opacity: 0.7;
}
.footer-text {
    color: $color-20;
    font-size: 10px;
}
.savedCards {
    display: flex !important;
    color: $color-20;
    margin: 10px;
    margin-bottom: 0px;
}
.upgrade-premium-table-container {
    width: 100%;
    background: transparent linear-gradient(180deg, #C7003B 0%, #FF5335 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    .premium-table-content {
        padding: 10px;
        border-bottom: 1px solid $main-1
    }
    .premium-table-content-2 {
        padding: 10px;
    }
    .premium-table-text-1 {
        font-size: $font-size-normal;
        font-family: $font-family-2;
        font-weight: 600;
    }
    .premium-table-text-2 {
        font-size: $font-size-normal;
        font-family: $font-family-2;
    }
    .premium-table-text-3 {
        font-size: $font-size-xs;
        font-family: $font-family-2;
        font-style: italic;
    }
}

.membership-main-container {
    text-align: left;
    margin-top: 20px;
    .rating-header-text {
        font-size: $font-size-medium;
        font-family: $font-family-2;
    }
}
.subscription-swith-main-container {
    display: flex;
    justify-content: center;
    margin: 15px;
    .subscription-swith-container {
        background: $color-19;
        width: 75%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        .subscription-button-inactive {
            width: 45%;
            height: 30px;
            display: flex;
            justify-content: center;
            border-radius: 5px;
            .subscription-button-text {
                align-self: center;
            }
        }
        .subscription-button-active {
            background: transparent linear-gradient(180deg, #C7003B 0%, #FF5335 100%) 0% 0% no-repeat padding-box;
        }
    }
    .rating-container-1{
            text-align: left;
            width: 40%;
            height: 85px;
            display: grid;
            padding: 10px;
            border: 1px solid $color-21;
            border-radius: 5px;
        }
        .plan-text {
            font-size: $font-size-small;
            font-family: $font-family-2;
        }
        .listner-text {
            font-size: $font-size-normal;
            font-family: $font-family-2;
        }
        .rating-amount-text {
            font-size: $font-size-xxl;
            font-family: $font-family-3;
        }
        .rating-container-2 {
            border: 1px solid $color-21;
            border-radius: 5px;
            text-align: left;
            width: 40%;
            height: 85px;
            display: grid;
            padding: 10px;
            margin-left: 25px;
        }
        .isSelectedRating {
            background: transparent linear-gradient(180deg, #C7003B 0%, #FF5335 100%) 0% 0% no-repeat padding-box;
            border: none !important;
        }
}

.rating-container-1{
    text-align: left;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid $color-21;
    border-radius: 5px;
    .rating-amount-text {
        font-size: $font-size-xxl;
        font-family: $font-family-3;
    }
    .listner-text {
        margin: 15px;
        font-size: $font-size-normal;
        font-family: $font-family-2;
    }
}