@import "../../scss/common.styles.scss";
@import "../../scss/variables.scss";

.play-main-container {
    min-height: 100vh;
    width: 100%;
    max-width: 600px;
    background: $color-24;
    text-align: center;
    color: $main-1;
    padding: 25px;
    padding-bottom: 35px;
}

.result-header-container {
    width: 100%;
    color: $color-25;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin-top: 30px;
    .app-name-container {
        text-align: left;
        .app-display-name {
            font-size: $font-size-xxl;
            text-align: left;
            font-weight: bold;
            font-family: "AvenirBold";
        }
        .app-footer-text {
            font-size: $font-size-xxs;
            color: $main-1;
            opacity: 0.7;
            font-family: "AvenirNextLTPro";
        }
    }
    .header-icon-container {
        color: $main-1;
        display: flex;
        .header-icon {
            width: 35px;
            height: 35px;
        }
        .header-icon-text-container{
            margin-right: 15px;
            .coin-number {
                margin: 0px;
                margin-bottom: -9px;
                margin-top: 8px;
                font-size: 12px;
            }
            .coin-text {
                height: fit-content;
                font-size: $font-size-xxs;
                width: fit-content;
                font-weight: 100;
            }
        }
    }
}

.play-screen-container-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    .play-screen-inner-container-2 {
        text-align: initial;
        .disover-artist-text {
            font-size: 8px;
            font-family: "AvenirNextLTPro";
        }
    }
}

.play-image-container {
    margin-top: 20px;
    .image-container {
        position: relative;
        min-height: 200px;
        display: flex;
        justify-content: center;
        .song-name-container {
            width: fit-content;
            position: absolute;
            bottom: 20px;
            left: 50px;
            text-align: left;
            .song-name-text{
                font-size: 12px;
                font-family: "AvenirNextLTPro";
            }
            .creator-name-text {
                font-size: 8px;
                font-family: "AvenirNextLTPro";
            }
        }
    }
    .center-img {
        width: 80%;
    }
    .cover-image-container {
        width: 80%;
        height: 200px;
        border-radius: 5px;
        background: $color-27;
        background-image: linear-gradient(180deg, rgba(36, 36, 36, 0) 0%, rgba(8, 8, 8, 0.41) 100%);
        .multimedia-icon {
            margin-top: 40px;
            height: 60px;
            width: 60px;
        }
    }
    .image-footer-icon-container {
        display: flex;
        justify-content: center;
    }
    .image-footer-icons {
        fill:  $main-1;
        width: 30px;
        height: 30px;
        padding: 10px;
        .thumbs-down-shp0 {
            fill:  $main-1;
        }
    }
    .image-footer-icons-2 {
        width: 40px;
        height: 40px;
        padding: 5px;
        padding-right: 5px;
        padding-left: 10px;
    }
    .multiplier-container {
        width: fit-content;
        text-align: left;
        padding-top: 6px;
        padding-right: 10px;
        .coin-number {
            margin: 0px;
            margin-bottom: -9px;
            margin-top: 8px;
            font-size: 12px;
        }
        .coin-text {
            height: fit-content;
            font-size: 6px;
            width: fit-content;
            font-weight: 100;
        }
    }
}