@import "../../scss/common.styles.scss";

.onboarding2-container {
    min-height: 100vh;
    width: 100%;
    max-width: 800px;
    background: $color-24;
    justify-content: center;
    display: flex;
    color: $main-1;
    padding-bottom: 110px;
}
.logo-main-container {
    width: 100%;
    justify-content: center;
    display: flex;
    .logo-container {
        height: 60px;
        width: 60px;
        margin-top: 20px;
        background: transparent url('../../assets/icon/app-icon.png') 0% 0% no-repeat padding-box;
        background-size: contain;
    }
}
.container-2 {
    text-align: -webkit-center;
    margin: 25px;
    width: 100%;
    display: grid;
}
.lets-go-message {
    display: grid;
    color: $color-17;
    margin-top: 20px;
    height: fit-content;
    .content-lets-go {
        font-size: $font-size-26;
        font-family: $font-family-1;
    }
    .content-mogul-points {
        font-family: $font-family-1;
    }
    .content-mogul-status {
        font-size: $font-size-26;
        font-weight: $font-weight-2;
        font-family: $font-family-1;
    }
    .content-points-now {
        font-size: $font-size-26;
        font-family: $font-family-1;
    }
}
.promote, .learn, .build {
    margin-top: 20px;
}
.promote-msg {
    font-size: $font-size-26;
    font-family: $font-family-1;
    margin-top: 0px;
    margin-bottom: 50px;
    color: $color-41;
    .content-promote-artists {
        font-family: $font-family-1;
    }
}
.learn-msg {
    font-size: $font-size-26;
    font-family: $font-family-1;
    margin-bottom: 50px;
    color: $color-41;
    .learn-the-business {
        font-family: $font-family-1;
    }
}
.build-msg {
    font-size: $font-size-26;
    font-family: $font-family-1;
    margin-top: -12px;
    margin-bottom: 50px;
    color: $color-41;
    .content-promote-artists {
        font-family: $font-family-1;
    }
}
.first-row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.second-row {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.first-row-data {
    font-size: $font-size-xl;
    margin-top: -60px;
    font-family: $font-family-1;
    color: $main-4;
}
.second-row-data {
    font-size: $font-size-xl;
    margin-top: -60px;
    font-family: $font-family-1;
    color: $main-4;
}
.first-row-data::before {
    content: "•";
    color: $color-41;
    position: relative;
    top: 7px;
    right: 10px;
    font-size: $font-size-40;
}
.second-row-data::before {
    content: "•";
    color: $color-41;
    position: relative;
    top: 7px;
    right: 10px;
    font-size: $font-size-40;
}
.get-started-button {
    font-size: $font-size-l;
    font-family: $font-family-1;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: $color-41;
    border: none;
    border-radius: 10px;
    color: $color-17;
}
.stars {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    .yellow-star-icon {
        color: $color-42;
        font-size: $font-size-32;
    }
    .gray-star-icon {
        color: $color-43; 
        font-size: $font-size-32;
    }
    .gray-check-icon {
        color: $color-24;
        font-size: $font-size-normal;
        top: -5px;
        position: relative;
    }
    .gray-number {
        color: $color-24;
        font-size: $font-size-17; 
        font-family: monospace; 
        top: -5px;
        position: relative;
    }
    .star-container {
        width: fit-content;
        padding: 5px;
        position: relative;
        .star-icon {
            width: 30px;
            fill: $color-42
        }
        .star-icon-2 {
            width: 30px;
            fill: $color-18;
        }
        .star-check-icon {
            position: absolute;
            top: 27px;
            left: 10px;
            height: 10px;
        }
        .star-icon-text {
            position: absolute;
            top: 23px;
            left: 16px;
            color: $main-3;
            font-weight: bold;
        }
    }
}
.stars-progress-bar {
    display: flex;
    width: 35%;
    div {
        width: 66.6%;
        height: 2px;
        background:$color-43;
    }
    .bar-1 {
        background: $color-42;
    }
    .bar-2 {
        background: $color-42;
    }
    .dot {
        height: 10px;
        width: 22px;
        position: relative;
        top: -4px;
        background-color: $color-42;
        border-radius: 50%;
        display: inline-block;
      }
}
.progress-bar {
    display: flex;
    div {
        width: 33.3%;
        height: 3px;
        background:$color-43;
    }
    .bar-1 {
        background: $color-41;
    }
}